body{
    background-color:lightseagreen;
    text-align: center;
}

.box{
    background-color: navajowhite;;
    width: 880px;
    height: 800px;
    padding: 2em;
    margin: 2rem auto 0;
    border-radius: 10px;
}

form{
    display: flex;
    margin-top: 5rem;
    padding-bottom: 5rem;
}

